<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FubarCoder.RestSharp.Portable.Core" version="3.3.0" targetFramework="net45" />
  <package id="FubarCoder.RestSharp.Portable.HttpClient" version="3.3.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net45" />
  <package id="NAudio" version="1.8.5" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net45" />
  <package id="NuGet.CommandLine" version="4.9.6" targetFramework="net45" developmentDependency="true" />
  <package id="NuGet.VisualStudio" version="4.7.0-preview1-4986" targetFramework="net45" />
  <package id="OpenRestLib" version="1.1.0" targetFramework="net45" />
</packages>